// --------------------------------------------------------------
// Variables
// --------------------------------------------------------------

$primaryColor: #404258;
$accentColor: coral;
$secondaryColor: whitesmoke;
$shadow: rgba(0, 0, 0, 0.1);
$bodyBackground: rgb(44, 44, 44);




// --------------------------------------------------------------
// Functions
// --------------------------------------------------------------

@mixin shadow-border($color){
    box-shadow: 0px 8px 8px $color;
}



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: $bodyBackground;
}

h1,
h2,
h3,
h4,
button {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}


/*--------------------------------------------------------------
# Grid settings
--------------------------------------------------------------*/

.container {
    position: absolute;
    background-color: $secondaryColor;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
    height: 90%;
    color: $primaryColor;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
}


.menu {
    grid-area: 1 / 5 / 2 / 6;
}

.ride {
    grid-area: 1 / 1 / 11 / 6;
    background-color: $primaryColor;
}

.photo {
    @include shadow-border($shadow);
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: 2 / 4 / 10 / 9;
}

.contact {
    color: $secondaryColor;
    font-size: 12px;
    grid-area: 7 / 1 / 9 / 3;

    ul {

        list-style-type: none;
        align-self: center;
        align-items: center;
        position: absolute;
        line-height: 25px;
    }
}

.social {
    margin-top: 25px;
    grid-area: 9 / 1 / 10 / 3;

    ul {
        list-style-type: none;
        align-self: center;
        align-items: center;
        position: absolute;
        display: flex;
    }
}

.about {
    grid-area: 4 / 10 / 6 / 14;
}




/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button {
    padding-top: 40px;
    grid-area: 6 / 10 / 7 / 14;
}

.fa {
    padding-right: 10px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: $secondaryColor;
}

.fa:hover {
    color: $accentColor;
}

.button-1 {
    background-color: $primaryColor;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 15px;
    @include shadow-border($shadow);
}

.button-2 {
    border-radius: 12px;
    border: 1px solid $primaryColor;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 15px;
    @include shadow-border($shadow);
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a.button-3,
a.button-2 {
    color: $primaryColor;
}

a:visited.button-3,
a:visited.button-2 {
    color: $primaryColor;
}

a:hover.button-3,
a:hover.button-2,
a:hover.button-1 {
    color: $accentColor;
}

.button-1 {
    a {
        color: $secondaryColor;
    }
}

a:link {
    text-decoration: none;
    color: $secondaryColor;
}

a:visited {
    color: $secondaryColor;
}

a:hover {
    color: $accentColor;
}

a:active {
    color: $primaryColor;
}