/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(44, 44, 44);
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

.fa {
  padding-right: 10px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: whitesmoke;
}

.fa:hover {
  color: coral;
}

.contact ul {
  list-style-type: none;
  align-self: center;
  align-items: center;
  position: absolute;
  line-height: 25px;
}

.social ul {
  list-style-type: none;
  align-self: center;
  align-items: center;
  position: absolute;
  display: flex;
}

.photo {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-card {
  visibility: hidden;
  display: none;
}

/*--------------------------------------------------------------
# Smartphones
--------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 550px;
    color: #404258;
    color: whitesmoke;
    background-color: #404258;
    display: flex;
    flex-direction: column;
  }
  .photo {
    background-image: url("../image/background.webp");
    height: 50%;
  }
  .contact {
    margin-left: -15px;
    margin-top: 15px;
  }
  .about {
    padding: 20px;
    margin-top: -150px;
  }
  .about p {
    color: #404258;
  }
  .social {
    align-items: center;
    align-content: center;
    width: 100%;
    position: relative;
    bottom: -125px;
    left: -15px;
    right: auto;
  }
  a.button-3,
a.button-2 {
    color: whitesmoke;
  }
  a:visited.button-3,
a:visited.button-2 {
    color: whitesmoke;
  }
  a:hover.button-3,
a:hover.button-2,
a:hover.button-1 {
    color: coral;
  }
  .button-1 a {
    color: whitesmoke;
  }
  a:link {
    text-decoration: none;
    color: whitesmoke;
  }
  a:visited {
    color: whitesmoke;
  }
  a:hover {
    color: coral;
  }
  a:active {
    color: #404258;
  }
  .custom-hover:hover {
    color: whitesmoke;
  }
  .button-1 {
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #404258;
  }
  .button-2 {
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #404258;
  }
  .button-1,
.button-2 {
    border: 1px solid whitesmoke;
  }
  .button-1 {
    margin-left: 20px;
  }
}
/*--------------------------------------------------------------
# Computers
--------------------------------------------------------------*/
@media screen and (min-width: 1280px) {
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
    height: 90%;
    color: #404258;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  .logo {
    grid-area: 1/1/2/2;
  }
  .menu {
    grid-area: 1/5/2/6;
  }
  .ride {
    grid-area: 1/1/11/6;
    background-color: #404258;
  }
  .photo {
    background-image: url("../image/background.webp");
    grid-area: 2/4/10/9;
  }
  .photo:hover {
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg) scaleX(-1);
    background-color: coral;
    background-image: none;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    font-family: monospace;
  }
  .photo:hover .about-card {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: justify;
    padding: 20px;
    color: whitesmoke;
  }
  .photo:hover .about-card img {
    border: 3px solid whitesmoke;
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .contact {
    color: whitesmoke;
    font-size: 12px;
    grid-area: 7/1/9/3;
  }
  .contact ul {
    list-style-type: none;
    align-self: center;
    align-items: center;
    position: absolute;
    line-height: 25px;
  }
  .social {
    margin-top: 25px;
    grid-area: 9/1/10/3;
  }
  .social ul {
    list-style-type: none;
    align-self: center;
    align-items: center;
    position: absolute;
    display: flex;
  }
  .about {
    color: #404258;
    grid-area: 4/10/6/14;
  }
  .about .typing-effect {
    width: 22ch;
    -webkit-animation: typing 2s steps(22), step-end infinite alternate;
            animation: typing 2s steps(22), step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
  }
  .button {
    margin-top: 40px;
    grid-area: 6/10/7/14;
  }
  a.button-3,
a.button-2 {
    color: #404258;
  }
  a:visited.button-3,
a:visited.button-2 {
    color: #404258;
  }
  a:hover.button-3,
a:hover.button-2,
a:hover.button-1 {
    color: coral;
  }
  .button-1 a {
    color: #404258;
  }
  a:link {
    text-decoration: none;
    color: whitesmoke;
  }
  a:visited {
    color: whitesmoke;
  }
  a:hover {
    color: coral;
  }
  a:active {
    color: #404258;
  }
  .custom-hover:hover {
    color: whitesmoke;
  }
  .button-1 {
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #404258;
  }
  .button-2 {
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #404258;
  }
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
}/*# sourceMappingURL=style.css.map */