body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(44, 44, 44);
}

.container {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 350px;
  height: 550px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.background {
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: 1 / 1 / 4 / 4;
}

.name {
  color: white;
  margin-left: 20px;

  grid-area: 2 / 1 / 3 / 2;
}

.profession {
  color: white;
  margin-left: 20px;

  grid-area: 3 / 1 / 4 / 2;
}

.about {
  margin-left: 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "resume"
    "social"
    "buttons";
  grid-area: 4 / 1 / 6 / 3;
}

.buttons {
  grid-area: buttons;
}

.social {
  grid-area: social;
}

.resume {
  grid-area: resume;
}

.fa {
  padding-right: 10px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(113, 113, 128);
}

.button-1 {
  background-color: rgb(44, 44, 44);
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
}

.button-2 {
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  border: 1px solid rgb(44, 44, 44);
}

p {
  font-size: 12px;
  color: rgb(44, 44, 44);
}
.stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "projects"
    "followers"
    "views";
  grid-area: 4 / 3 / 6 / 4;
  justify-content: end;
  text-align: center;
}
.projects {
  grid-area: projects;
}

.followers {
  grid-area: followers;
}

.views {
  grid-area: views;
}

a.button-1 {
  color: white;
}

a:visited.button-1 {
  color: white;
}
